In [13]:
import pickle
import pyarrow
import pandas as pd
import numpy as np

In [4]:
clean_data = pd.read_parquet('clean_data.parquet.gzip')
clean_data.head()

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld
0,2023-06-13 17:33:18,1,at-st,2.0,8.0,1,1,Glee Anselm
1,2023-06-13 17:33:17,2,tie_silencer,4.0,4.0,0,1,Trandosha
2,2023-06-13 17:33:16,3,at-at,0.0,3.0,6,1,Corellia
3,2023-06-13 17:33:15,4,tie_silencer,6.0,1.0,6,9,Shili
4,2023-06-13 17:33:14,5,tie_fighter,0.0,4.0,9,6,Muunilinst

In [5]:
clf = pd.read_pickle('model.pkl')

In [6]:
x = clean_data[['homeworld', 'unit_type']]
x_ = pd.get_dummies(x)

In [8]:
pred = clf.predict(x_)

In [9]:
clean_data['predict'] = pred

In [10]:
clean_data.head()

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld,predict
0,2023-06-13 17:33:18,1,at-st,2.0,8.0,1,1,Glee Anselm,1
1,2023-06-13 17:33:17,2,tie_silencer,4.0,4.0,0,1,Trandosha,1
2,2023-06-13 17:33:16,3,at-at,0.0,3.0,6,1,Corellia,1
3,2023-06-13 17:33:15,4,tie_silencer,6.0,1.0,6,9,Shili,1
4,2023-06-13 17:33:14,5,tie_fighter,0.0,4.0,9,6,Muunilinst,0

In [14]:
clean_data['predict'] = np.where(clean_data['predict']==1, 'True', 'False')

In [15]:
clean_data.head()

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld,predict
0,2023-06-13 17:33:18,1,at-st,2.0,8.0,1,1,Glee Anselm,True
1,2023-06-13 17:33:17,2,tie_silencer,4.0,4.0,0,1,Trandosha,True
2,2023-06-13 17:33:16,3,at-at,0.0,3.0,6,1,Corellia,True
3,2023-06-13 17:33:15,4,tie_silencer,6.0,1.0,6,9,Shili,True
4,2023-06-13 17:33:14,5,tie_fighter,0.0,4.0,9,6,Muunilinst,False